<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="coffee-script.js"></script>
	<script type="text/coffeescript" src="coffee-ws-client.coffee"></script>
	<script type="text/coffeescript" src="app.coffee"></script>
</head>
<body>

</body>
</html>